.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  position: relative;
  width: 50%;
  height: 700px;
  margin: 160px auto 20px auto;
  background: #fff;
  padding: 0px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  overflow: auto;
  font-family: "Raleway", sans-serif;
}

.App::-webkit-scrollbar {
  display: none;
}

img {
  width: 100px;
  display: inline-block;
  float: left;
  vertical-align: top;
  width: 150px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.info {
  display: inline-block;
  width: 75%;
}

p {
  color: #999999;
  margin: 0;
}

.btn {
  text-align: right;
  float: right;
  display: inline-block;
}

.icon {
  transform: scale(1.8);
}

.input {
  width: 100%;
  border-radius: 0;
}
